.piece{
  position: absolute;
  height:50%;
  top:25%;
}

.token{
  position: absolute;
  height:10%;
  top:79%;
}

.one{
  left:17%;
}

.two{
  left:30%;
}

.three{
  left:44%;
}

.four{
  left:57%;
}

.five{
  left:71%;
}

.eins{
  left:33.7%;
}

.zwei{
  left:43.1%;
}

.drei{
  left:52.2%;
}

.vier{
  left:61.6%;
}

